@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

:root {
    --black: #1f1f1f;
    --lighter-black: #303030;
    --dark-gray: #3f3f3f;
    --gray: #4d4d4d;
    --lighter-gray: #7f7f7f;
    --lightest-gray: #CCCCCC;
    --white: #dfdfdf;

    --accent: #005A00;

    --header-height: 50px;
    --default-txt-size: 30px;
}

/* General Styles */

header {
    background-color: var(--dark-gray);
    height: var(--header-height);
    width: 110%;
    position: relative;
    left: -5%;
    top: -7px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    margin:auto;
    box-shadow: 0 4px 0.5rem var(--lighter-black);
}

body {
    background-color: var(--gray);
    color: var(--lightest-gray);
    overflow: hidden;
    font-size: 20px;
    font-family: "Quicksand";
    text-align: center;
    align-items: center;
    align-content: center;
}

.close {
    padding: 0;
    position: absolute;
    font-size: var(--default-txt-size);
    left: calc(90% + 10px);
    padding: calc(var(--header-height) / 8) calc(var(--header-height) / 3.5);
    -webkit-app-region: none;
    color: var(--lightest-gray);
    background: none;
    border: solid rgba(255, 255, 255, 0) 1px;
    cursor: pointer;
    transition: all 500ms;
}

.close:hover {
    text-shadow: 0 0 0.5rem var(--white);
    color: var(--white);
}


select {
    position: relative;
    padding: 5px 10px;
    font-size: 20px;
    font-family: "Quicksand";
    border-radius: 10px;
    background-color: var(--white);
    outline: none;
}

.button {
    font-size: 20px;
    font-family: "Quicksand";
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: var(--lighter-gray);
    cursor: pointer;
    transition: all 500ms;
}

.button:hover {
    background-color: var(--lightest-gray);
    box-shadow: 0 0 1rem var(--white)
}

input {
    font-size: 20px;
    padding: 5px 10px;
    width: 600px;
    text-align: center;
    outline: none;
    border: none;
    box-shadow: 0 0 3rem var(--black);
    font-family: "Quicksand";
    border-radius: 20px;
}


/* Input Page */

.incorrect {
    display: none;
}

.incorrect.enabled {
    display: block;
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-family: "Quicksand";
}


/* Main Page */

.account {
    position: absolute;
    left: 50px;
    background: none;
    border: none;
    padding: calc(var(--header-height) / 25) 0;
    cursor: pointer;
    -webkit-app-region: none;
}

.profilePicture {
    height: 45px;
    width: 45px;
    border-radius: 25px;
}

.accountName {
    color: var(--lightest-gray);
    position: relative;
    top: -14px;
    padding-left: 15px;
    font-size: 25px
}

.dropdown.displayed {
    position: absolute;
    width: 150px;
    height: auto;
    background-color: var(--dark-gray);
    top: 50px;
    left: 85px;
    padding: 10px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown.hidden {
    display: none;
}

.logout {
    color: rgb(200, 0, 0);
    font-size: 15px;
    font-family: "Quicksand";
    width:150px;
    cursor: pointer;
}

.activity {
    background-color: var(--white);
    padding: 10px 25px;
    color: var(--dark-gray);
    border-radius: 10px;
}


/* Plugins */

.addonsBTN {
    padding: 10px 15px;
    background: linear-gradient(90deg, var(--lighter-gray) 8.25rem, var(--lightest-gray) 5rem);
}

.text {
    float: left;
    margin-right: 10px
}

.modCount {
    float:right;
    margin-left: 10px;
}